<h1>Event <%= @event.title %></h1>
<p>This event is run by studio : <%= @studio.name %></p>
<p><%= @event.description %><p>
<p>Start Date: <%= @event.starts_at %></p>
<p>End Date: <%= @event.ends_at %></p>
<p>Max Participants: <%= @event.max_participants %></p>
