<h1>Event <%= @event.title %></h1>
<p>This event is run by studio : <%= @studio.name %></p>
<p><%= @event.description %><p>
<p>Start Date: <%= @event.starts_at %></p>
<p>End Date: <%= @event.ends_at %></p>
<p>Max Participants: <%= @event.max_participants %></p>

<h2>Current Participants</h2>
<% participants.each do |participant| %>
  <li><%= participant.user_name %></li>
<% end %>

<%= link_to 'Delete this event', studio_event_path(@studio, @event), method: :delete %>
